.moduel-list {
  height: 100%;
  position: relative;

  @extend .data-tj;

  .search-box {
    position: relative;
    width: 240px;
    height: 36px;
    background: #f5f5f5;
    border: solid 1px #dfdfdf;
    border-radius: 2px;

    input {
      float: left;
      width: 119px;
      padding: 0 12px;
      height: 36px;
      border: 0;
      outline: 0;
      background: none;
      line-height: 36px;
      font-size: 14px;
      color: #333333;;
    }

    .icon-search {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 15px;
      height: 15px;
      background: url("../images/icon_tool.png") no-repeat 0 -70px;
      cursor: pointer;
    }
    
    .line {
      width: 1px;
      height: 17px;
      margin-top: 9px;
      background: #e0e0ea;
    }
  }

  .select-vertical {
    @include btn-normal($border: solid 1px #5883ff);
    color: #ffffff;
    font-weight: bold;
    background: #5883ff;
    margin-left: 15px;
    position: relative;
    padding: 0 16px;
    text-indent: 10px;
    
    &:hover {
      opacity: 0.9;
    }

    .icon-menu {
      position: absolute;
      top: 13px;
      left: 12px;
      width: 15px;
      height: 15px;
      background: url("../images/icon_tool.png") no-repeat 0 -110px;
      cursor: pointer;
    }
  }
  .expand-query {
    @include btn-normal();
    margin-left: 5px;
    color: #5883ff;
    font-weight: bold;
    border: 0;

    .icon-arrow {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: url("../images/icon_tool.png") no-repeat -30px 0;
      vertical-align: middle;

      &.active {
        background-position: -30px -20px;
      }
    }
  }

  .btn-query {
    @include btn-normal($border: solid 1px #5883ff);
    color: #ffffff;
    font-weight: bold;
    background: #5883ff;
    margin-left:0;
    border-radius: 0 3px 3px 0;
    position: relative;
    padding: 0 24px;
    text-indent: 6px;

    &:hover {
      opacity: 0.9;
    }

    .icon-search {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 15px;
      height: 15px;
      background: url("../images/icon_tool.png") no-repeat 0 -90px;
      cursor: pointer;
    }
  }

  .btn-refresh {
    position: relative;
    @include btn-normal();

    &:hover {
      background-color: #eeeef3;
      color: #5883ff;
    }
  }
  .btn-add, .btn-edit, .btn-delete {
    @include btn-normal();
    position: relative;
    margin-left: -1px;

    &:hover {
      background-color: #eeeef3;
      color: #5883ff;
    }
  }

  .icon-refresh {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url("../images/icon_tool.png") no-repeat -30px -45px;
    vertical-align: middle;
  }

  .icon-add {
    @extend .icon-refresh;
    background-position: -30px -70px;
  }

  .icon-edit {
     @extend .icon-refresh;
     background-position: -30px -100px;
   }

  .icon-delete {
    @extend .icon-refresh;
    height: 18px;
    background-position: -30px -140px;
  }
}

.list-table {
  margin-top: 0;
  margin-bottom: 80px;

  table {
    table-layout: fixed;
    width: 100%;
    border-top: solid 1px #e7e9ed;
    border-bottom: solid 1px #e7e9ed;
  }

  th, td {
    height: 46px;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;

    input {
      vertical-align: -2px;
    }
  }

  tr {
    &:hover {

      td {
        background: #85a1f2;
        color: #ffffff;
      }
    }
  }

  tbody tr {
    &:nth-child(odd) {
      background: #f1f2f4;
      border: solid 1px #e7e9ed;
    }

    td {
      border-right: solid 1px #e7e9ed;

      &:last-child {
        border-right: 0;
      }
    }
  }

  th {
    color: #333333;;
    font-weight: bold;
  }

  td {
    color: #666666;
  }

  .operate {
    a {
      padding: 0 10px;
      color: #006bb3;
      
      &:hover {
        color: #358500;
      }
    }
  }

  .cource-name {
    @include ell();
    max-width: 200px;
    margin: 0 auto;
  }

  .td-label {
    display: block;
    width: 48px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    color: #ffffff;

    &.green {
      background-color: #39c48e;
    }

    &.red {
      background-color: #fb7070;
    }
  }
}

.bottom65 {
  bottom: 65px;
}

.bottom-antipage {
  min-width: 990px;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 48px;
  padding: 0 25px;
  border-top: solid 1px #e4e4ea;
  background: #ffffff;

  .anti-page {
    text-align: left;
  }

  .arrow-left, .arrow-right {
    margin: 0 10px;
  }
}

.checkbox-label {
  padding-left: 10px;

  .icon-check {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon_checkbox.png") no-repeat 0 0;
    vertical-align: middle;
  }

  &.checked .icon-check {
    background-position: 0 -48px;
  }

  input {
    display: none;
  }

  span {
    display: inline-block;
    width: 60px;
  }
}

.expand-query-box {
  display: none;
  position: absolute;
  top: 70px;
  left: 20px;
  right:20px;
  //width: 100%;
  background: #ffffff;
  border: solid 1px #eeeff1;
  padding: 15px 0;
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    top: -8px;
    left: 178px;
    background: url("../images/tri.png") no-repeat;
  }
  
  .input-list {
    display: inline-block;
    width: 345px;
    line-height: 32px;
    margin-bottom: 10px;
    
    em {
      padding: 0 5px;
      color: #dfdfdf;
    }
  }

  .input-list-name {
    width: 80px;
    font-size: 14px;
    color: #999999;
    text-align: right;
  }

  .date-picker {
    float: left;
    width: 80px;
    padding: 0 20px 0 10px;
    height: 32px;
    border: solid 1px #dfdfdf;
    outline: 0;
    line-height: 32px;
    font-size: 14px;
    color: #333333;
    background: url(../images/cal.png) no-repeat 90px center #f5f5f5;
    border-radius: 3px;
    font-family: 'Arial';
  }

  .normal-select {
    width: 220px;
    height: 32px;
    padding: 0 10px;
    border: solid 1px #dfdfdf;
    line-height: 32px;
    font-size: 14px;
    color: #333333;
    background: url(../images/cal.png) no-repeat 90px center #f5f5f5;
    border-radius: 3px;
    font-family: 'Arial';
  }

  .select2-container {
    float: left;
  }

  .select2-container .select2-selection--single {
    height: 32px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333333;
    line-height: 32px;
  }
  .select2-container--default .select2-selection--single {
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 0;
    left: 50%;
    margin-left: -5px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background: url("../images/icon_tool.png") no-repeat -30px 0;
  }
}
.list-table-hd {
  margin-top: 20px;
  margin-bottom: 0;
}
.list-table-scroll {
  position: absolute;
  top: 126px;
  bottom: 50px;
  left: 20px;
  right: 20px;
  background: #FFFFFF;
  overflow: auto;
}