.main-area {
  position: absolute;
  left: 0;
  top: 65px;
  bottom: 0;
  right: 0;
  padding: 15px 5px 5px 15px;
  background: #eaeef3;
  overflow: auto;
}
.br6 {
  border-radius: 6px;
}
.data-tj {
  @extend .br6;
  padding: 20px;
  background: #ffffff;
}
.normal-tit {
  h2 {
    padding-left: 10px;
    border-left: solid 3px #5883ff;
    font-size: 24px;
    color: #333333;
    line-height: 0.8;
  }
}
.tj-ctr-item {
  margin-left: 25px;
  font-size: 14px;
  line-height: 28px;

  span {
    color: #999999;
  }
  em {
    margin-left: 3px;
    color: #333333;
    padding: 0 8px;
    border: solid 1px #dfdfe5;
    border-radius: 2px;
    cursor: pointer;
    
    &.current {
      background: #5883ff;
      border-color: #5883ff;
      color: #ffffff;
    }
  }

  .select-area {
    margin-left: 3px;
    width: 100px;
    background: #f5f5f5;
  }
}
.tj-content {
  padding: 30px 10px 0;
}
.tj-item {
  li {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    height: 124px;
    overflow: hidden;
  }
  a {
    display: block;
    height: 124px;
    margin: 0 20px;
    padding-left: 45px;
    padding-right:32px;
    color: #ffffff;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: left center;

    &:hover {
      opacity: .8;
    }
  }

  @for $i from 1 through 8 {
    .style#{$i} a {
      background-image: url("../images/tj#{$i}.png");
      background-color: nth($bgColor,$i);
    }
  }

  .tj-num {
    margin-top: 30px;

    h3 {
      font-size: 28px;
    }

    p {
      font-size: 16px;
    }
  }

  .tj-view {
    padding-top: 50px;
    padding-left: 22px;

    .icon {
      float: left;
      width: 10px;
      height: 10px;
      margin-top: 6px;
      margin-right: 6px;
      background: url("../images/icon_tool.png") no-repeat 0 -20px;
    }
  }
}
.tj-item-page {
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 10px;
    background: #d2d8e0;
    border-radius: 50%;
    cursor: pointer;
    
    &.current {
      background: #5883ff;
    }
  }
}

.normal-moduel {
  @extend .data-tj;
  width: 49%;
  height: 528px;
  box-sizing: border-box;
}

.event-list {
  margin-top: 15px;

  li {
    border-bottom: solid 1px #e6eaef;

    a {
      display: block;
      padding: 0 10px;
      color: #333333;
      font-size: 14px;
      line-height: 48px;
      border-radius: 3px;
      
      &:hover {
        background: #eaeef3;
        color: #5883ff;
      }
    }
  }

  .title {
    max-width: 65%;
    @include ell;
  }
}

/*20161213 add*/
.contentHolder {
  position:relative;
  width: 1000px;
  overflow: hidden;
  z-index: -1;
}
.contentHolder .content {
  width: 160px;
}
.sidebar .ps-container .ps-scrollbar-y{
  //right:992px;
}
.sidebar .ps-container .ps-scrollbar-y-rail {
  right:992px;
}
.moduel-list{
  padding-top: 58px;
  position: relative;
}
.list-tit{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  padding: 20px 20px 0 20px;
  background-color: #fff;
}

.pop-main{
  background: #fff;
  font-size: 14px;
  color: #333;
}
.pop-add .layui-layer-title{
  position: relative;
  height: 36px;
  padding: 0 10px;
  border-bottom: 2px solid #5883ff;
  line-height: 36px;
  font-weight: bold;
}
.pop-close{
  position: absolute;
  right: 10px;
  top: 13px;
  width: 10px;
  height: 10px;
  background: url(../images/pop_close.png) no-repeat 0 0;
}
.pop-close:hover{
  background-position: 0 -29px;
}
.pop-add-list{
  padding: 0 30px 25px;
  background-color: #f1f2f4;
  overflow: hidden;
}
.pop-add-tit{
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #d5d9e0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.pop-add-tit h3,
.pop-add-tit em{
  position: absolute;
  left: 0;
  top: 50%;
}
.pop-add-tit h3{
  padding: 0 10px;
  margin-top: -12px;
  background-color: #f1f2f4;
  line-height: 24px;
  font-weight: bold;
}
.pop-add-tit em{
  width: 2px;
  height: 12px;
  margin-top: -6px;
  background-color: #333;
}
.pop-form label{
  float: left;
  padding-right: 10px;
  width: 74px;
  line-height: 30px;
  text-align: right;
}
.pop-form .red{
  color: #ff862d;
}
.pop-form input{
  width: 172px;
  height: 28px;
  border: 1px solid #cdd3dd;
  background-color: #fff;
}
.pop-form{
  margin-left: -30px;
  margin-top: -10px;
}
.pop-form li{
  margin-top: 10px;
  margin-left: 30px;
  float: left;
}
.pop-form .tj-ctr-item{
  margin-left: 0;
}
.pop-form select{
  width: 170px!important;
}
.pop-footer{
  padding-right: 24px;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  font-size: 14px;
}
.pop-footer a{
  display: inline-block;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
}
.blue-btn{
  background-color: #5883ff;
  height: 32px;
  line-height: 32px;
  color: #fff;
}
.grey-btn{
  background-color: #f1f2f4;
  border: 1px solid #dee1e5;
  height: 30px;
  line-height: 30px;
  color: #5883ff;
}
.pop-footer a:hover{
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  opacity:0.9;
}
.pop-add{
  width: 632px;
}
.pop-add .layui-layer-setwin{
  top:11px;
}
