.right-area {
  position: absolute;
  top: 0;
  left: 160px;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.top-menu {
  height: 65px;
  background: url("../images/border.png") left bottom repeat-x #ffffff;
}