.right-area {
  position: absolute;
  top: 0;
  left: 160px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  min-width: 1040px;
}
.top-bar {
  position: relative;
  height: 65px;
  background: url("../images/border.png") left bottom repeat-x #ffffff;
}
.top-logo {
  position: relative;
  width: 236px;
  height: 65px;

  a {
    display: block;
    height: 65px;
    background: url("../images/logo.png") no-repeat center center;
  }

  &.current::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 3px;
    margin-left: -6px;
    border-bottom: solid 6px #333333;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
  }
}
.top-menu {
  position: relative;
  overflow: hidden;

  .top-menu-ul {
    position: relative;
  }

  li {
    position: relative;
    float: left;
    width: 115px;
    margin-left: -1px;
    border-left: solid 1px #e5e9ef;
    border-right: solid 1px #e5e9ef;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      color: #666666;
      font-size: 14px;
      line-height: 61px;
    }

    .icon-close {
      display: none;
      position: absolute;
      top: 6px;
      right: 12px;
      width: 10px;
      height: 10px;
      background: url("../images/icon_tool.png") 0 0 no-repeat;
      cursor: pointer;

      &:hover {
        background-position: 0 -10px;
      }
    }

    &:hover {
      .icon-close {
        display: block;
      }

      a {
        color: #333333;
        font-weight: bold;
      }
    }

    &.current {
      a {
        color: #333333;
        font-weight: bold;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -6px;
        border-bottom: solid 6px #333333;
        border-left: solid 6px transparent;
        border-right: solid 6px transparent;
      }
    }
  }
}
.menu-ctr {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 61px;
  background: url("../images/arrow.png") no-repeat center center;
  border-left: solid 1px #d4d7dc;
  z-index: 999;
  cursor: pointer;
}

